@{
    ViewData["Title"] = "Home Page";
}
<div class="outer-shadow text-center w-100" style="padding-left:300px">
    <div class="text-center" style="border-radius: 25px; box-shadow: rgba(0,0,0,0.4) 30px 30px; width: 500px; height:450px">
        <div class="text-center container-tt">
            <h1 class="title">Tic <span style="color:white">Tac</span> Toe</h1>
            <div class="status-action">
                <div class="status"> x player is next </div>
                <div class="reset"> Reset</div>
                 </div>
                <div class="game-grid">
                    <div class="game-cell "></div>
                    <div class="game-cell "></div>
                    <div class="game-cell "></div>
                    <div class="game-cell "></div>
                    <div class="game-cell "></div>
                    <div class="game-cell "></div>
                    <div class="game-cell " ></div>
                    <div class="game-cell "></div>
                    <div class="game-cell "></div>
                </div>
           

        </div>
    </div>
</div>

